---
import type { MenuLink } from '../types';

interface Props extends MenuLink {
  isActive: boolean;
}

const { href, title, isActive } = Astro.props;
---

<li class="flex items-center justify-between">
  <a class="flex-1" href={href}>{title}</a>
  {
    isActive && (
      <span class="block h-3 w-3 rounded-full bg-primary-foreground" />
    )
  }
</li>
