---
import { Footer } from '@/components/footer';
import { Logo } from '@/components/logo';
import { type MenuLink, MobileNavMenu } from '@/components/nav-menu';

import { routes } from '@/configs/routes';

import '@styles/globals.css';
import 'lenis/dist/lenis.css';

interface Props {
  title: string;
}

const { title } = Astro.props;

const menu: MenuLink[] = [
  {
    href: routes.home,
    title: 'home',
  },
  {
    href: routes.work,
    title: 'work',
  },
  {
    href: routes.about,
    title: 'about',
  },
  {
    href: routes.contact,
    title: 'contact',
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex min-h-svh flex-col">
      <header class=" flex items-center justify-between px-2 pt-2">
        <div>
          <Logo />
        </div>
        <div class="lg:hidden">
          <MobileNavMenu menu={menu} />
        </div>
      </header>
      <main class="pb-20"><slot /></main>
      <div class="mt-auto">
        <Footer />
      </div>
    </div>
  </body>
</html>

<script>
  import Lenis from 'lenis';

  const lenis = new Lenis({
    duration: 1.2,
  });

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
