<div class="px-2 pt-5">
  <span class="text-sm uppercase">Join in</span>
  <nav class="pe-4 ps-2 pt-2" aria-label="Social links">
    <ul class="flex gap-2 text-lg">
      <li>
        <a class="px-2 py-1" href="#">Fiverr</a>
      </li>
      <li>
        <a class="px-2 py-1" href="#">Upwork</a>
      </li>
      <li>
        <a class="px-2 py-1" href="#">X</a>
      </li>
    </ul>
  </nav>
</div>
